<div class="row">
    <div class="col col-xs-3">
        <ul class="nav nav-pills nav-stacked">
<!--            <li class="active" ng-repeat="room in user.rooms track by $index" ng-click="leaveRoom({{$index}})"><a>{{user.rooms[$index].name}}</a></li>-->
        </ul>
        <br>
        <form ng-submit="joinRoom()" class="room">
            <div class="form-group">
                <input class="form-control" placeholder="Room Name" ng-model="tempData.addRoom" required />
            </div>
            <button class="btn btn-default">Join</button>
        </form>
    </div>
    <div class="col col-xs-9">
        <div ng-repeat="n in messages">
            <div class="panel panel-default">
              <div class="panel-heading">{{n.name}}</div>
              <div class="panel-body">
                  {{n.message}}
              </div>
            </div>
            <div>{{n}}</div>
        </div>
        <!--  <ul id="messages"></ul>-->
        <form class="form" role="form" ng-submit="send()">
            <div class="form-group">
                <input class="form-control" ng-model="user.name" placeholder="Username" required />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Message" ng-model="user.message" required />
            </div>
            <select ng-model="user.sendTo" ng-options="room.name for room in user.rooms"></select>
            <button class="btn btn-default">Send</button>
        </form>
        <button class="btn btn-default" ng-click="add()">Add</button>
    </div>
</div>