<p>Twitter</p>
<form class="form form-inline" role="form" ng-submit="changeFilter()">
    <div class="form-group">
        <input class="form-control" placeholder="Filter" ng-model="filter" required />
    </div>
    <button class="btn btn-default">Filter</button>
</form>
<br>
<div id="twitter"></div>